<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$ | Mauro Taraborelli Photo</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/mtphotosite.css">
    <link type="text/plain" rel="author" href="humans.txt" />
    <script src="assets/js/vendor/modernizr.js"></script>
  </head>
  <body>

    <!-- header -->
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name"><h1><a href="#">MTPhoto</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <!-- Left Nav Section -->
            <ul class="left">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Galleries</a></li>
              <li><a href="#">Books</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </header>

    <!-- content -->
    <section id="content">
      $body$
    </section>

    <!-- footer -->
    <footer class="row">
      <div class="small-12 columns">
        <ul class="inline-list">
	  <li><small>&copy; 2014 Mauro Taraborelli</small></li>
	  <li><small><a href="/">Home</a></small></li>
	  <li><small><a href="/galleries">Galleries</a></small></li>
	  <li><small><a href="/books">Books</a></small></li>
          <li><small><a href="/books">Blog</a></small></li>
	  <li><small><a href="/about">About</a></small></li>
        </ul>
      </div>
    </footer>

    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/foundation.min.js"></script>
    <script> $(document).foundation(); </script>
  </body>
</html>
