<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$ | Mauro Taraborelli Photo</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/mtphotosite.css">
    <link type="text/plain" rel="author" href="/humans.txt">
    <script src="/assets/js/vendor/modernizr.js"></script>
  </head>
  <body>

    <!-- header -->
    <header>
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name"><h1><a href="/">MTPhoto</a></h1></li>
            <li class="toggle-topbar"><a href="/"><i class="fi-list"></i></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <!-- Left Nav Section -->
            <ul class="left">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/archive">Archive</a></li>
              <li><a href="/books">Books</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </header>

    <!-- content -->
    <section id="content">
      $body$
    </section>

    <!-- footer -->
    <footer class="row">
      <div class="small-12 medium-6 columns">
        <ul class="inline-list">
          <li><a href="/">Home</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="small-12 medium-6 columns medium-text-right">
        <p>&copy; 2014 Mauro Taraborelli</p>
      </div>
    </footer>

    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script> $$(document).foundation(); </script>

  </body>
</html>
